/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans');*/

.title {
  width: 100%;
/*  margin-top: 10px;*/
  text-align: center;
  font-family: 'Noto Sans', sans-serif;

  padding-top: 120px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  color: black;

  /*text-shadow: 2px 2px 4px #ecf7e6;*/
  margin-bottom: 50px;
  background-image: url("./grass.jpg");

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title > h1 {
  font-size: 4.5rem;	

}

.title > h4 {
  font-size: 100%;
  padding-bottom: 120px;
}