.Header {
/*  background: #95d868;*/
  background: #79b253;
  color: #ecf7e6;
    text-shadow: 2px 2px 4px #000000;
  display: flex;
  flex-flow: row wrap;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-color: black;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  width: 100%;
  font-size: 110%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Header > h3 {
  padding: 10px;

  justify-content: space-around;
  margin-right: 30px;
  margin-left: 15px;
}

.Header > .nowrap {
	white-space: nowrap;
	float: right;
	justify-content: right;
	margin: 10px;
}